/*Estilos para el cuerpo*/
body{
    /*Insertamos una imagen de fondo*/
    background-image: url(https://i.postimg.cc/6Q1Y7x4d/fonfo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.card-body{
    background-color: rgb(199, 199, 18);
}

/*Estilo para el contenedor del botón*/
.d-flex{
    margin-top: 20%;
    color: rgb(9, 9, 6);
    justify-content: space-between;
}
