<!DOCTYPE html>
<!-- Submitted by Brent Robertson -->
<html>

<head>
	<meta charset="utf-8">
	<title>Aprende los números</title>
	<meta name="description" content="Created a drag and drop game.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
	<header>
		<h1>Aprende los números</h1>
	</header>
	<main>
		<div class="container-div">
			<div id="drag1" class="drag-item"><img id="cat"
				src="http://3.bp.blogspot.com/-MszQdmDcpsY/VT_33stHLdI/AAAAAAADims/w0WUUBSlIts/s1600/numbers1.jpg"
				draggable="true" height="140" width="190" /></div>
			<div id="drop1" class="drop-item">1
				<!-- <img id="cat"
				src="https://img.freepik.com/vector-premium/ilustracion-linda-jirafa-estilo-dibujos-animados_25880-180.jpg"
				draggable="true" height="140" width="190" />-->
			</div>
		</div>
		<div class="container-div">
			<div id="drag2" class="drag-item">
				<img id="cat"
				src="http://2.bp.blogspot.com/-QtGQD9e1l4Y/VT_33EloNsI/AAAAAAADimE/nwAZM0gEwRQ/s1600/numbers2.jpg"
				draggable="true" height="140" width="190"/>
			</div>
			<div id="drop2" class="drop-item">2
				<!--<img id="cat"
				src="https://img.freepik.com/vector-premium/dos-patos-estan-nadando-agua-ilustracion_194428-2070.jpg"
				draggable="true" height="140" width="190" />>-->
			</div>
		</div>
		<div class="container-div">
			<div id="drag3" class="drag-item">
				<img id="cat"
				src="http://1.bp.blogspot.com/-PAuklRBBO98/VT_33uLov_I/AAAAAAADimI/Ci6OrbqP0Jw/s1600/numbers3.jpg"
				draggable="true" height="140" width="190"/>
			</div>
			<div id="drop3" class="drop-item">3
				<!--<img id="cat"
				src="https://cdn.create.vista.com/api/media/small/148197785/stock-vector-three-snakes-in-3d-design"
				draggable="true" height="140" width="190" />>-->
			</div>
		</div>
		<div class="container-div">
			<div id="drag4" class="drag-item">
				<img id="cat"
				src="http://3.bp.blogspot.com/-UtTVXp_z6ug/VT_33zQscQI/AAAAAAADimU/ZKwsd8n3iW8/s1600/numbers4.jpg"
				draggable="true" height="140" width="190"/>
			</div>
			<div id="drop4" class="drop-item">4
				<!--<img id="cat"
				src="https://thumbs.dreamstime.com/b/sistema-de-cuatro-gallos-graciosamente-coloridos-81176662.jpg"
				draggable="true" height="140" width="190" />>-->
			</div>
		</div>
		<div class="container-div">
			<div id="drag5" class="drag-item">
				<img id="cat"
				src="http://3.bp.blogspot.com/-S3XQ5cEFe_U/VT_34YwEZRI/AAAAAAADimQ/1geNB-iJd1s/s1600/images.jpg"
				draggable="true" height="140" width="190"/>
			</div>
			<div id="drop5" class="drop-item">5
				<!--<img id="cat"
				src="https://img.freepik.com/vector-premium/coleccion-dibujos-animados-perro_43633-487.jpg"
				draggable="true" height="140" width="190" />>-->
			</div>
		</div>
		<div id="check-answers" class="disabled btn" role="button">
			<a class="nav-link"><img
				src="https://i.ibb.co/9b9NmZR/fondo.png" height="120" width="180" />
		</div>
		<div id="play-again" class="hidden btn">
			<a class="nav-link" href="/gamer"><img
				src="https://cdn-icons-png.flaticon.com/512/35/35671.png" height="120" width="180" />
		</div>
		<center><div id="response"></div></center> 
	</main>

</body>
<script type="text/javascript" src="../static/js/index.js" ></script>

</html>